body {
    margin: 0;
    direction: rtl;
    display: flex;
    flex-direction: column;
    text-align: right;
    background-color: rgb(248, 246, 246);
    
}

 .navBar{
     width: relative;
     height: 15vh;
     display: flex;
     align-items: center;
     box-shadow: 10px 10px 10px  5px #f3f1f1;     
     
 }

 
/* Dropdown Button */
.dropbtn {
    
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    outline: none;
    background: transparent;
  }

  .dropbtn i{
      color: rgba(61, 167, 61, 0.76);
      font-size: 2.5rem;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:focus {
    background-color: rgb(104, 245, 146);
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 35vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}


#jastroBG{
    transform: rotateY(180deg);
    
   
    
}

.manutdText{
margin-top: -20vh;
margin-bottom: 14vh;

}

.iconAndText h3{
    
    
    color: rgba(38, 83, 38, 0.76);
}


.cityBG{
  position: relative;
}

.sittingWoman{
  position: relative;
  margin-right: 35vw;
  margin-left: -10vw;
  margin-top: -25vh;
  margin-bottom: 5vh;
  
}

.slideSelector{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 20vw;
  
  
}

.scrollCircles{
  background-color: rgb(194, 194, 194);
  width: 2.7vw;
  height: 1.7vh;
  border-radius: 100rem;
}

div.scrollmenu {
  
  overflow: auto;
  white-space: nowrap;
  width: 100%;
  margin-top: -7vh;
  margin-bottom:5vh ;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  
  border-radius: 100%;
  
}

div.scrollmenu a:hover {
  background-color: rgb(219, 123, 44);
  
}
.hotelsText{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.appDL{
  height: 120vh; 
  display: flex; 
  justify-content: space-around; 
  align-items: center; 
  flex-direction: column; 
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgb(212, 211, 211);
}
.appDL input{
  
  text-align: center; 
  width: 90%; 
  background-color: rgb(235, 232, 231); 
  border: 2px rgb(207, 206, 206) solid; 
  border-radius: 13px; 
}

.dl{
text-align: center;
color: white;
background-image: linear-gradient(to right,rgb(236, 166, 133) , rgb(255, 60, 0));
border: none;
outline: none;
width: 40%;
border-radius: 30px;
height: 7vh;
}

.dlButton{
  text-align: center;
color: white;
background-image: linear-gradient(to right,rgb(104, 247, 187) , rgb(0, 170, 133));
border: none;
outline: none;
width: 50%;
border-radius: 30px;
height: 7vh;
}
